### IDE ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/compiler.xml
/gradle.xml
/misc.xml
/vcs.xml
/workspace.xml
/shelf/

### Build ###
.gradle/
build/
out/
bin/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/bin/
!**/src/test/**/bin/
!**/src/main/**/out/
!**/src/test/**/out/

### Gradle Internals ###
/.gradle/buildOutputCleanup/
/.gradle/8.13/
/.gradle/file-system.probe
/.gradle/vcs-1/gc.properties
/build/tmp/
/build/reports/
/build/classes/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Application ###
/src/main/resources/application.properties
/build/resources/main/application.properties
*.env

### System ###
.DS_Store
Thumbs.db
HELP.md